#menu_item_orderbook{
  /*border-bottom: 1px solid #FFFFFF;
  border-radius: 0px;*/
  color: #0088ff;
}
#menu_item_orderbook>a{
  /*padding: 7px 0px;*/
}
#menu_item_orderbook:hover{
  border-radius: 2px;
}
/*#menu_item_portfolio>a:hover{
  padding: 7px 10px;
}*/
.footer_home{
  display: none;
}
#take_tour, #take_tour_mobile{
  display: block;
}
.portfolio_outer{
	width: 100%;
  min-height: 550px;
	height: auto;
	background-color: #FFFFFF;
  /*box-shadow: 0 2px 4px 0 rgba(3, 95, 154, 0.1);*/
  padding: 0px 30px 30px 30px;
	display: block;
}
.portfolio{
	width: 100%;
	height: auto;
	display: flex;
	padding-top: 30px;
}
.portfolio_menu{
	width: 20%;
	height: auto;
	display: block;
	background-color: #FFFFFF;
	/*border-right: 1px solid #f3f3f3;*/
	border-radius: 2px;
	position: absolute;
  padding-bottom: 30px;
}
.portfolio_body{
	left: 20%;
	width: 80%;
  padding-left: 30px;
	height: auto;
	display: block;
  border-left: 1px solid #f3f3f3;
	/*background-color: #fafbfb;*/
}
.holdings, .positions{
	width: 100%;
	/*padding-left: 30px;*/
	height: auto;
	display: block;
	background-color: transparent;
}
.holdings_header{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	border: 1px solid #ecf0f1;
	border-radius: 2px;
	display: flex;
}
.holdings_body, .positions_body{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	border-top: 1px solid #f3f3f3;
	border-radius: 2px;
	display: block;
	/*margin-top: 30px;*/
	min-height: 400px;
}
.positions_body{
	margin-top: 0px;
}
.portfolio_menu p{
	font-family: Open Sans,sans-serif;
	color: #383838;
	padding: 20px 30px 20px 30px;
	margin: 0px;
	text-align: left;
}
.header-holder{
  display: flex;
  padding: 30px 30px 20px 30px;
}
.portfolio_menu_header{
	/*border-bottom: 1px solid #ecf0f1;*/
  /*background-color: hsla(205, 54%, 60%, 0.35);*/
}
.portfolio_menu_header p{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
  padding: 0px;
}
.portfolio_menu_body p{
	font-size: 14px;
	font-weight: 400;
  padding: 10px 0px 10px 30px;
  margin: 15px 0px;
  cursor: pointer;
}
.portfolio_menu_body p:hover{    
  color: #0088ff;
}
.portfolio_menu_selected{
	color: #0088ff !important;
	font-weight: 500 !important;
	border-left: 3px solid #0088ff;
	padding-left: 27px !important;
}
.total_investment, .current_value, .profit_and_loss{
	width: 33.333333%;
	box-sizing: border-box;
	padding: 30px;
	display: flex;
}
.current_value{
	border-left: 1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
}
.header_icon{
	padding-top: 10px;
	display: block;
}
.total_investment .header_icon>div{
	background-color: #06d092;
}
.current_value .header_icon>div{
	background-color: #b268c2;
}
.profit_and_loss .header_icon>div{
	background-color: #2288ff;
}
.header_icon > div{
	width: 30px;
	height: 30px;
	display: block;
	padding-top: 7px;
	border-radius: 2px;
}
.header_icon img{
	margin: auto;
	display: block;
}
.total_investment img{
	height: 14px;
	width: 15px;
}
.current_value img{
	height: 14px;
	width: 14px;
}
.profit_and_loss img{
	height: 14px;
	width: 11px;
}
.header_content{
	width: 100%;
	display: block;
}
.header_content p{
	margin: 0px;
	padding: 10px 0px 0px 20px;
	font-family: Open Sans,sans-serif;
	text-align: left;
}
.header_content p:first-child{
	text-transform: uppercase;
	font-size: 12px;
	color: #7f8fa4;
	font-weight: 400;
	letter-spacing: 1px;
}
.header_content p:nth-child(2){
	font-size: 16px;
	color: #383838;
	font-weight: 500;
}
.holding_details_row, .positions_details_row{
	width: 100%;
	padding: 15px 0px;
	height: auto;
	display: flex;
	border-bottom: 1px solid #f3f3f3;
}
.positions_row_product p, .positions_row_product_title p{
  /*padding-left: 15px !important;*/
}
.positions_details_row:hover{
  background-color: #f9f9f9;
}
.row_instrument, .row_instrument_title{
	width: 200%;
}
.row_quantity, .row_quantity_title{
	width: 100%;
}
.row_avg_cost, .row_avg_cost_title{
	width: 100%;
}
.row_ltp, .row_ltp_title{
	width: 100%;
}
.row_current_value, .row_current_value_title{
	width: 150%;
}
.row_pnl, .row_pnl_title{
	width: 150%;
}
.row_net_change, .row_net_change_title{
	width: 80%;
}
.row_day_change, .row_day_change_title{
	width: 80%;
}
.positions_row_product, .positions_row_product_title{
	width: 80%;
}
.positions_row_instrument, .positions_row_instrument_title{
	width: 200%;
}
.positions_row_quantity, .positions_row_quantity_title{
	width: 100%;
}
.positions_row_avg_price, .positions_row_avg_price_title{
	width: 130%;
}
.positions_row_ltp, .positions_row_ltp_title{
	width: 140%;
}
.positions_row_pnl, .positions_row_pnl_title{
	width: 160%;
}
.positions_row_pnl_title p{
  text-align: right !important;
}
.positions_row_change, .positions_row_change_title{
	width: 80%;
}
.positions_row_order_details, .positions_row_order_details_title{
	width: 100%;
}
.holding_details_title, .positions_details_title{
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #f3f3f3;
}
/*.positions_row_product_title{
  padding-left: 15px;
}*/
.holding_details_title p, .positions_details_title p{
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Open Sans,sans-serif;
  text-align: left;
  font-weight: 300;
  /*text-transform: uppercase;*/
  font-size: 12px;
  color: #9ea1a4;
  padding: 15px 3px;
  cursor: pointer;
  /*letter-spacing: 1px;*/
}
.holding_details_title p:hover, .positions_details_title p:hover{
  background-color: #f9f9f9;
}
.positions_row_change_title p:hover, .positions_row_order_details_title p:hover{
  background-color: #FFFFFF;
}
.holding_details_title img, .positions_details_title img{
  height: 10px;
  float: right;
  display: none;
}
.positions_row_quantity_title img, .positions_row_avg_price_title img, .positions_row_ltp_title img, .positions_row_pnl_title img{
  float: left;
}
.positions_row_quantity_title p, .positions_row_avg_price_title p, .positions_row_ltp_title p, .positions_row_quantity p, .positions_row_avg_price p, .positions_row_ltp p, .row_quantity_title p, .row_current_value_title p, .row_avg_cost_title p, .row_ltp_title p, .row_pnl_title p, .row_quantity p, .row_current_value p, .row_avg_cost p, .row_ltp p, .row_pnl p, .row_net_change_title p, .positions_row_change p, .positions_row_change_title p, .positions_row_order_details p, .positions_row_order_details_title p{
  text-align: right !important;
}
.positions_row_quantity_title, .positions_row_avg_price_title, .positions_row_ltp_title, .positions_row_quantity, .positions_row_avg_price, .positions_row_ltp, .row_quantity_title, .row_current_value_title, .row_avg_cost_title, .row_ltp_title, .row_pnl_title, .row_quantity, .row_current_value, .row_avg_cost, .row_ltp, .row_pnl, .row_net_change_title, .positions_row_change, .positions_row_change_title, .positions_row_order_details, .positions_row_order_details_title{
  /*margin-right: 20px !important;*/
}
.holding_details_row p, .positions_details_row p, .positions_total p{
	width: 100%;
	margin: 0px;
	padding: 0px;
  padding: 2px 3px 0px 3px;
	font-family: Open Sans,sans-serif;
	text-align: left;
	font-weight: 400;
	/*text-transform: uppercase;*/
	font-size: 14px;
	color: #383838;
}
.row_instrument p, .positions_row_instrument p{
	/*font-weight: 500;*/
}
.row_instrument span, .positions_row_instrument span{
	font-weight: 400;
	color: #9b9b9b;
	font-size: 11px;
}
.positions_row_order_details span{
  font-size: 10px !important;
  font-weight: 500;
  color: #6e6e6e;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 2px;
  padding: 4px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 0px;
  text-align: center;
  width: auto;
  z-index: 5;
  display: none;
}
.positions_row_order_details img{
  width: 6px;
  height: 10px;
}
.positions_total_row{
	/*width: 100%;
	padding: 20px;
	height: auto;
	display: flex;
	background-color: rgba(249, 250, 250, 0.5);*/
}
.positions_total{
	left: 62%;
	display: flex;
}
.positions_total p:first-child{
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1px;
	padding-top: 2px;
}
.profit{
	color: #06d092 !important;
}
.loss{
	color: #ff4258 !important;
}
.order_details_popup{
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  display: block;
  z-index: 100000000 !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.order_details_popup>div{
  width: 700px;
  height: auto;
  margin:auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;  
  background-color: #FFF;
  padding: 30px;
 border-radius: 2px;;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
}
.close_popup{
  width: 100%;
  height: 20px;
  /*padding-right: 30px !important;*/
  position: absolute;
  z-index: 1;
}
.close_popup{
  padding: 0px;
}
.close_popup img{
  height: 100%;
  width: auto;
  float: right;
  cursor: pointer;
}
.order_details_body{
	width: 100%;
	padding-top: 20px;
	display: flex;
}
.order_details_row{
	width: 100%;
	display: block;
}
.order_details_row:last-child{
	margin: 0px;
}
.order_details_row>div{
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
.order_details_row:nth-child(2){
  width: 1px;
  height: 70%;
  border-right: 1px solid #f3f3f3;
  margin: auto 30px auto 30px !important;
}
.order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child, .order_filled_qty p:first-child{
	margin: 0px;
  display: block;
  width: 100%;
  text-align: left;
  color: #9ea1a4;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
  font-weight: 400;
}
.order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
	margin: 0px;
  display: block;
  width: 100%;
  text-align: right;
  color: #383838;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.status p:nth-child(2){
	color: #ff4343;
	text-transform: uppercase;
}
#status_message{
	width: 66.666666%;
}
.status_messages p{
  color: #383838 !important;
}
.order_details_header{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 30px;
  padding: 0px 0px 10px 0px;
}
.order_details_header>div{
	box-sizing: border-box;
	display: flex;
}
.order_name{
	width: 100%;
}
.order_avg_price, .order_net_qty, .order_pnl{
	width: 20%;
}
.order_name p:first-child{
	margin: auto 15px auto 0px !important;
  text-align: left;
  font-family: Open Sans,sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #383838;
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 12px !important;
}
.order_name p:nth-child(2){
	font-weight: 400;
	font-size: 16px;
  color: #383838;
}
.order_name p:nth-child(2) span{
  font-size: 11px;
  color: #9ea1a4;
  margin-left: 5px;
}
.tags{
  position: absolute;
  right: 0px;
  margin-top: 10px !important;
  font-size: 12px !important;
  width: 150px !important;
}
.order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
	padding-top: 7px;
}
.cancel_order{
  color: #f50101;
  border: 1px solid #f50101;
  border-radius: 2px;
  background-color: #fff;
  padding: 2px;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 0px;
  text-align: center;
  width: auto;
  z-index: 5;
}
.cancel_order_popup{
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  display: block;
  z-index: 100000000 !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.cancel_order_popup>div{
  width: 470px;
  height: auto;
  margin:auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;  
  background-color: #FFF;
  padding: 30px 0px;
 border-radius: 2px;;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
}
.cancel_order_popup .exit_position{
  padding: 0px 30px;
  display: block;
  width: 100%;
}
.stop_heading{
  margin: 0px;
  padding: 0px;
  color: #383838;
  text-align: left;
  font-family: Open Sans,sans-serif;
  font-size: 18px;
    font-weight: 500;
}
.stop_sub_heading{
  margin: 0px;
  padding: 15px 0px 30px 0px;
  color: #6f6f71;
  text-align: left;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 95%;
  line-height: 1.5;
}
.stop_sub_heading>span{
  margin-right: 10px;
  color: #ec3f3f;
}
.stop_sub_heading>span>span{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 1px;
  background-color: #ea0c0c;
  border: 2px solid #ffb6b6;
  display: inline-block;
}
.cancel_order_heading{
  margin-bottom: 20px;
}
.cancel_order_det{
  color: #383838;
  font-weight: 500;
  display: block;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  line-height: 2;
}
.cancel_order_det span{
  color: #383838;
  font-weight: 400;
}
#cancel_order_actions{
  display: flex;
  float: right;
  padding: 20px;
}
/*#cancel_order_confirm{
  width: auto !important;
  min-width: 75px;
  padding: 8px 0px;
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: #0596f5;
  color: #FFFFFF;
  border: none;
  background: #4184f3;
  border-color: #4184f3;
}*/
#cancel_order_confirm{
  /*width:45% !important;*/
  width: auto !important;
  min-width: 75px;
  padding: 8px 15px;
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  /*font-weight: 500;*/
  font-weight: 400;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: #ff5c10;
  color: #FFFFFF;
  /*text-transform: uppercase;*/
  border: none;
  /*letter-spacing: 1px;*/
  margin-right: 10px;
}
#cancel_order_confirm:hover{
  opacity: 0.8;
}
#cancel_order_close{
  width: 120px;
  min-width: 75px;
  margin-left: 5px;
  /*padding: 20px 0px;*/
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  /*font-weight: 500;*/
  font-weight: 400;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  outline: none;
  color: #444;
  background: #fff;
  border: 1px solid #9b9b9b;
}
#cancel_order_close:hover{
  background: #9b9b9b;
  color: #fff;
  border-color: #9b9b9b;
}
/*.exit_position_section{
  display: block;
  width: 100%;
}
.exit_position .stop_sub_heading{
  padding: 10px 0px 0px 0px;
  width: 100%;
  display: inline-flex;
}
.exit_window{
  display: block;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
  margin: 0px;
  width: 100%;
  background-color: #FFFFFF;
  max-width: 550px;
}
.exit_header{
  border-bottom: 1px solid #e2e2e2;
  padding: 5px;
}
.exit_header_buy{
  background-color: #4184f3;
}
.exit_header_sell{
  background-color: #ff5722;
}
.exit_header p{
  text-align: left;
  color: #FFFFFF;
  font-family: Open Sans,sans-serif;
  font-size: 15px;
  font-weight: 500;
  max-width: 100% !important;
  letter-spacing: 0.3px;
  line-height: 1.5;
}
.exit_header span{
  font-size: 13px;
  display: block;
}
.exit_body{
  padding: 20px;
  padding-bottom: 70px;
  display: block;
}
.exit_options{
  display: flex;
  width: 100%;
  margin: 10px 0px 30px 0px;
}
.exit_options>div{
  display: block;
  width: 46%;
}
.exit_options>div:first-child{
  margin-right: 8%;
}*/
/*.radio_options{
  display: flex;
  width:100%;
  margin-bottom: 40px;
}
.radio_options>div{
  display: flex;
  width: 50%;
}
.radio_options span{
  display: block;
  height: 10px;
  width: 12px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  margin-right: 5px;
}
.radio_options p{
  margin: 0px;
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: rgba(68, 84, 99, 0.5);
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 500;
}*/
.exit_qty, .exit_price{
  display: block;
  width: 100%;
}
.exit_qty p, .exit_price p{
  /*margin: 0px;
  display: block;
  width: 100%;
  text-align: left;
  color: #7f8fa4;
  font-family: Open Sans,sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 400;*/
  margin: 0px;
  display: block;
  width: 100%;
  text-align: left;
  /*color: #7f8fa4;*/
  color: #444;
  font-family: Open Sans,sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 400;
}
.exit_qty input, .exit_price input{
  /*width: 100%;
  border: 1px solid #e2e2e2;
 border-radius: 2px;;
  padding: 15px;
  outline: none;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  background-color: #FFF;
  color: #383838;
  box-sizing: border-box;*/
  width: 100%;
  /*border: 1px solid #e2e2e2;*/
  border-bottom: 1px solid #e3e3e3;
 /*border-radius: 2px;;*/
  padding: 15px;
  outline: none;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  background-color: #FFF;
  /*color: #383838;*/
  color: #4a4a4a;
  box-sizing: border-box;
}
/*#buy{
  width:100%;
  padding: 15px 0px;
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: #0596f5;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
}
#sell{
  width:100%;
  padding: 15px 0px;
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: #ff5c10;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
}
#option_selected{
  color: rgba(68, 84, 99, 1);
}
#buy_radio_option{
  background-color: rgba(0, 118, 255, 0.5);
}
#sell_radio_option{
  background-color: rgba(255, 92, 16, 0.5);
}*/
/*.algo_stopped{
  width: 100%;
  display: block;
}
.algo_stopped .stop_heading, .algo_stopped .stop_sub_heading{
  text-align: center;
  width: 100%;
}
.algo_stopped img{
  height: 30px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}*/
.empty_positions, .empty_holdings{
  height: 100%;
  width: 100%;
  padding-top: 30px;
  display: block;
}
.empty_positions img{
  height: 150px;
  margin: auto;
  display: block;
}
.empty_holdings img{
  height: 150px;
  margin: auto;
  display: block;
}
.empty_positions p, .empty_holdings p{
  width: 100%;
  margin: 0px;
  padding-top: 0px;
  text-align: center;
  font-family: Open Sans,sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: #383838;
}
.exclamatory_mark{
  font-size: 13px !important;
  color: #f50101 !important;
  /* border: 1px solid #f50101 !important; */
  border-radius: 50% !important;
  background-color: #f501011a !important;
  padding: 3px !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  /*cursor: pointer !important;*/
  margin-left: 5px !important;
  height: 21px !important;
  width: 21px !important;
  display: inline-block !important;
  text-align: center !important;
  box-sizing: border-box !important;
}
.positions_details_sub_title{
  width: 100%;
  padding: 0px 30px 20px 30px;
  height: auto;
  display: flex;
  /*border-bottom: 1px solid #ecf0f1;*/
}
.positions_details_sub_title>div{
  width: 100%;
}
.positions_details_sub_title p{
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Open Sans,sans-serif;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #7f8fa4;
  letter-spacing: 1px;
}
.positions_details_sub_title select, #portfolio_platform{
  border: 1px solid #dedfe0;/*dff1fd*/
  border-radius: 2px;
  outline: none;
  font-family: Open Sans,sans-serif;
  font-size: 13px;
  padding: 10px 10px;
  background-color: transparent;
  color: #0088ff;
  width: 100%;
  /*height: 30px;*/
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../imgs/icon-more.png);
  background-position: 95% 50%;
  background-size: 13px auto;
  background-repeat: no-repeat;
}
#portfolio_platform:hover{
  background-color: #f2faff;
}
.ui-widget.ui-widget-content{
  width: 200px !important;
}
/*.select_platform_icon{
  height: 7px;
  float: right;
  margin-right: 15px;
  margin-top: -20px;
}*/
.refresh{
  height: 19px;
  width: auto;
  cursor: pointer;
  float: right;
  margin-top: -5px;
  margin: auto;
  margin-right: 0px;
}
.refresh:hover{
  background-color: #ecf1f5;
  border-radius: 2px;
}
.buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag{
  display: table !important;
}
.add_opacity{
  opacity: 0.2 !important;
}
.positions_row_avg_price p, .positions_row_avg_price_title p{
  padding-right: 15px !important;
}
.header_bar{
  display: flex;
  width: 100%;
  padding:10px 0px;
}
.search_refresh_container{
  display: flex;
  position: absolute;
  right: 0px;
}
.hc_p {
  display: flex;
}
#open_orders_heading_title, #executed_orders_heading_title{
  color: #383838;
  font-size: 16px;
  margin: 15px 0px;
}
.loading-dots-container{
  display: none;
  margin-top: 15px;
  margin-left: 15px;
}
#open_orders_search_input, #executed_orders_search_input{  
  cursor: auto;
  height: 40px;
  display:block;
  outline: none;
  box-sizing: border-box;
  /*border: none;*/
  font-size: 14px;
  /*background-color: #f0f1f378;*/
  background-image: url('../imgs/new/search_light.svg');
  background-position: 0px 10px;
    background-size: 22px auto;
    background-repeat: no-repeat;
    padding: 6px 12px 0px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  line-height: 1;
  text-align: left;
  /*color: #616477;*/
  width: 100px;
  margin: 0px 30px;
  border-bottom: 1px solid #e2e2e2;
  /*border-radius: 2px;
  border: 1px solid #c6c7c7;
  box-shadow: inset 0 1px 5px 1px hsl(204, 11%, 85%);*/
}
#open_orders_search_input:hover, #executed_orders_search_input:hover{
  background-image: url('../imgs/new/search_dark.svg');
  width: 130px;
  border-color: #cecece;
}
#open_orders_search_input:focus, #executed_orders_search_input:focus{
  background-image: url('../imgs/new/search_dark.svg');
  width: 130px;
  border-color: #0088ff;
}
.refresh_bar img{
  height: 15px;
  margin-bottom: -2px;
  margin-right: 10px;
}
.refresh_bar{
  color: #0088ff;
  padding: 5px 20px;
  cursor: pointer;
  border-left: 1px solid #f3f3f3;
  font-size: 14px;
}
.fancy_filter{
  position: fixed;
  display: block;
  width: auto;
  height: auto;
  bottom: 25px;
  right: 30px;
  background-color: transparent;
}
.logo_tag, .logo_tag_big{
  display: block;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 11px 20.9px 3.1px rgba(81, 81, 81, 0.23);
  box-shadow: 0px 6px 18.9px 4.1px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}
.logo_tag_big{
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 8px;
  padding: 8px;
}
.fancy_filter img{
  display: block;
  height: 100%;
  width: auto;
}
.name_tag{
  width: auto;
  margin: 0px;
  margin-right: 25px;
  padding: 5px;
}
.name_tag p{
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #383838;
  font-size: 14px;
  font-weight: 400;
  font-family: Open Sans,sans-serif;
  border-radius: 25px;
  background-color: #FFFFFF;
  box-shadow: 0px 11px 20.9px 3.1px rgba(81, 81, 81, 0.23);
  box-shadow: 0px 6px 18.9px 4.1px rgba(0, 0, 0, 0.13);
  padding: 9px 20px;
  width: 100px;
  cursor: pointer;
}
.fancy_filter_options>div{
  display: flex;
  margin-bottom: 20px;
}
.fancy_filter_options{
  padding-right: 15px;
  display: none;
}
@media only screen and (max-width: 1024px){
  .holding_details_row p, .positions_details_row p, .positions_total p{
  	font-size: 10px;
  }
  .holding_details_title p, .positions_details_title p{
  	font-size: 9px;
  }
  .portfolio_menu_header p{
  	font-size: 11px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .portfolio_menu_body p{
  	padding: 7px 0px 7px 30px;
  }
  .portfolio_menu_body p{
  	/*font-size: 12px;*/
  }
  .header_content p:first-child{
  	/*font-size: 9px;*/
  }
  .header_content p:nth-child(2){
  	font-size: 12px;
  }
  .header_content p{
  	padding: 5px 0px 0px 20px;
  }
  .header_icon{
  	padding-top: 5px;
  }
  .holdings, .positions{
  	padding: 0px;
  }
  .positions_row_order_details p{
  	font-size: 8px !important;
  }
  .positions_total p:first-child{
  	padding-top: 0px;
  	font-size: 10px;
  }
  .positions_row_order_details img{
  	width: 5px;
    height: 8px;
  }
  .holding_details_title p, .positions_details_title p{
    font-size: 10px;
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 11px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 13px 20px;*/
  }
  .buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
    font-size: 8px !important;
    padding: 4px 6px !important;
  }
  .positions_row_order_details p{
    margin-top: 0px;
    font-size: 8px !important;
    padding: 4px !important;
  }
  .portfolio_menu_body p{
    /*font-size: 12px;*/
    padding: 8px 0px 10px 30px;
    margin: 10px 0px;
  }
  .positions_details_sub_title select, #portfolio_platform{
    font-size: 12px;
  }
  .order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
    /*font-size: 11px;*/
  }
  .order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
 /*   font-size: 9px;
    font-weight: 500;*/
  }
  .order_details_header{
    /*padding: 0px 20px 10px 20px;*/
  }
  .order_details_popup>div{
    /*padding-bottom: 0px;*/
  }
  .order_filled_qty p{
    font-size: 12px;
  }
  .order_name p:first-child{
    font-size: 13px;
  }
  .order_name p:nth-child(2){
    font-size: 10px;
  }
  .close_popup{
    height: 20px;
  }
  .portfolio_menu_header p{
    font-size: 10px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .positions_details_sub_title{
    padding: 0px 20px 15px 20px;
  }
  .portfolio_menu p{
    padding: 10px 20px 10px 20px;
  }
  .portfolio_menu_selected{
    padding-left: 17px !important;
  }
  .portfolio_menu_header p{
    padding: 0px;
  }
  .empty_positions, .empty_holdings{
    padding-top: 60px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 40px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 14px;
  }
  .stop_heading{
    font-size: 16px;
  }
  .stop_sub_heading{
    font-size: 13px;
  }
  #cancel_order_confirm, #cancel_order_close{
    font-size: 12px;
  }
  .cancel_order, .positions_row_order_details span{
    font-size: 9px !important;
    padding: 2px 4px;
  }
  .positions_row_change>p{
    margin-top: 2px;
  }
  .refresh{
    height: 15px;
  }
  .portfolio_outer{
    padding: 15px 10px 30px 10px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1025px){
  .holding_details_row p, .positions_details_row p, .positions_total p{
  	font-size: 10px;
  }
  .holding_details_title p, .positions_details_title p{
  	font-size: 9px;
  }
  .portfolio_menu_header p{
  	font-size: 11px;
  }
  .portfolio_menu_body p{
  	padding: 7px 0px 7px 30px;
  }
  .portfolio_menu_body p{
  	/*font-size: 12px;*/
  }
  .header_content p:first-child{
  	/*font-size: 9px;*/
  }
  .header_content p:nth-child(2){
  	font-size: 12px;
  }
  .header_content p{
  	padding: 5px 0px 0px 20px;
  }
  .header_icon{
  	padding-top: 5px;
  }
  .holdings, .positions{
  	padding: 0px;
  }
  .positions_row_order_details p{
  	font-size: 8px !important;
  }
  .positions_total p:first-child{
  	padding-top: 0px;
  	font-size: 10px;
  }
  .positions_row_order_details img{
  	width: 5px;
    height: 8px;
  }
  .holding_details_title p, .positions_details_title p{
    font-size: 10px;
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 11px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 13px 20px;*/
  }
  .buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
    font-size: 8px !important;
    padding: 4px 6px !important;
  }
  .positions_row_order_details p{
    margin-top: 0px;
    font-size: 8px !important;
    padding: 4px !important;
  }
  .portfolio_menu_body p{
    /*font-size: 12px;*/
    padding: 8px 0px 10px 30px;
    margin: 10px 0px;
  }
  .positions_details_sub_title select, #portfolio_platform{
    font-size: 12px;
  }
  .order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
    /*font-size: 11px;*/
  }
  .order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
/*    font-size: 9px;
    font-weight: 500;*/
  }
  .order_details_header{
    /*padding: 0px 20px 10px 20px;*/
  }
  .order_details_popup>div{
    /*padding-bottom: 0px;*/
  }
  .order_filled_qty p{
    font-size: 12px;
  }
  .order_name p:first-child{
    font-size: 13px;
  }
  .order_name p:nth-child(2){
    font-size: 10px;
  }
  .close_popup{
    height: 20px;
  }
  .portfolio_menu_header p{
    font-size: 10px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .positions_details_sub_title{
    padding: 0px 20px 15px 20px;
  }
  .portfolio_menu p{
    padding: 10px 20px 10px 20px;
  }
  .portfolio_menu_selected{
    padding-left: 17px !important;
  }
  .portfolio_menu_header p{
    padding: 0px;
  }
  .empty_positions, .empty_holdings{
    padding-top: 60px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 40px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 14px;
  }
  .stop_heading{
    font-size: 16px;
  }
  .stop_sub_heading{
    font-size: 13px;
  }
  #cancel_order_confirm, #cancel_order_close{
    font-size: 12px;
  }
  .cancel_order, .positions_row_order_details span{
    font-size: 9px !important;
    padding: 2px 4px;
  }
  .positions_row_change>p{
    margin-top: 2px;
  }
  .refresh{
    height: 15px;
  }
  .portfolio_outer{
    padding: 15px 10px 30px 10px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1101px){
  .holding_details_row p, .positions_details_row p, .positions_total p{
  	font-size: 11px;
  }
  .holding_details_title p, .positions_details_title p{
  	font-size: 10px;
  }
  .portfolio_menu_header p{
  	font-size: 11px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .portfolio_menu_body p{
  	padding: 7px 0px 7px 30px;
  }
  .portfolio_menu_body p{
  	/*font-size: 13px;*/
  }
  .header_content p:first-child{
  	/*font-size: 10px;*/
  }
  .header_content p:nth-child(2){
  	font-size: 13px;
  }
  .header_content p{
  	padding: 5px 0px 0px 20px;
  }
  .header_icon{
  	padding-top: 5px;
  }
  .holdings, .positions{
  	padding: 0px;
  }
  .positions_row_order_details p{
  	font-size: 8px !important;
  }
  .positions_total p:first-child{
  	padding-top: 1px;
  }
  .holding_details_title p, .positions_details_title p{
    font-size: 10px;
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 11px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 13px 20px;*/
  }
  .buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
    font-size: 8px !important;
    padding: 4px 6px !important;
  }
  .positions_row_order_details p{
    margin-top: 0px;
    font-size: 8px !important;
    padding: 4px !important;
  }
  .portfolio_menu_body p{
    /*font-size: 12px;*/
    padding: 8px 0px 10px 30px;
    margin: 10px 0px;
  }
  .positions_details_sub_title select, #portfolio_platform{
    font-size: 12px;
  }
  .order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
    /*font-size: 11px;*/
  }
  .order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
    /*font-size: 9px;
    font-weight: 500;*/
  }
  .order_details_header{
    /*padding: 0px 20px 10px 20px;*/
  }
  .order_details_popup>div{
    /*padding-bottom: 0px;*/
  }
  .order_filled_qty p{
    font-size: 12px;
  }
  .order_name p:first-child{
    font-size: 13px;
  }
  .order_name p:nth-child(2){
    font-size: 10px;
  }
  .close_popup{
    height: 20px;
  }
  .portfolio_menu_header p{
    font-size: 10px;
  }
  .positions_details_sub_title{
    padding: 0px 20px 15px 20px;
  }
  .portfolio_menu p{
    padding: 10px 20px 10px 20px;
  }
  .portfolio_menu_selected{
    padding-left: 17px !important;
  }
  .portfolio_menu_header p{
    padding: 0px;
  }
  .empty_positions, .empty_holdings{
    padding-top: 60px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 40px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 14px;
  }
  .stop_heading{
    font-size: 16px;
  }
  .stop_sub_heading{
    font-size: 13px;
  }
  #cancel_order_confirm, #cancel_order_close{
    font-size: 12px;
  }
  .cancel_order, .positions_row_order_details span{
    font-size: 9px !important;
    padding: 2px 4px;
  }
  .positions_row_change>p{
    margin-top: 2px;
  }
  .refresh{
    height: 15px;
  }
  .portfolio_outer{
    padding: 15px 0px 30px 0px;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1281px){
  .holding_details_row p, .positions_details_row p, .positions_total p{
  	font-size: 12px;
  }
  .holding_details_title p, .positions_details_title p{
  	font-size: 10px;
  }
  .portfolio_menu_header p{
  	font-size: 11px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .portfolio_menu_body p{
  	padding: 7px 0px 7px 30px;
  }
  .portfolio_menu_body p{
  	/*font-size: 13px;*/
  }
  .header_content p:first-child{
  	/*font-size: 10px;*/
  }
  .header_content p:nth-child(2){
  	font-size: 14px;
  }
  .header_content p{
  	padding: 5px 0px 0px 20px;
  }
  .header_icon{
  	padding-top: 5px;
  }
  .holdings, .positions{
  	padding: 0px;
  }
  .holding_details_title p, .positions_details_title p{
    font-size: 10px;
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 11px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 13px 20px;*/
  }
  .buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
    font-size: 8px !important;
    padding: 4px 6px !important;
  }
  .positions_row_order_details p{
    margin-top: 0px;
    font-size: 8px !important;
    padding: 4px !important;
  }
  .portfolio_menu_body p{
    /*font-size: 12px;*/
    padding: 8px 0px 10px 30px;
    margin: 10px 0px;
  }
  .positions_details_sub_title select, #portfolio_platform{
    font-size: 12px;
  }
  .order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
    /*font-size: 11px;*/
  }
  .order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
   /* font-size: 9px;
    font-weight: 500;*/
  }
  .order_details_header{
    /*padding: 0px 20px 10px 20px;*/
  }
  .order_details_popup>div{
    /*padding-bottom: 0px;*/
  }
  .order_filled_qty p{
    font-size: 12px;
  }
  .order_name p:first-child{
    font-size: 13px;
  }
  .order_name p:nth-child(2){
    font-size: 10px;
  }
  .close_popup{
    height: 20px;
  }
  .portfolio_menu_header p{
    font-size: 10px;
  }
  .positions_details_sub_title{
    padding: 0px 20px 15px 20px;
  }
  .portfolio_menu p{
    padding: 10px 20px 10px 20px;
  }
  .portfolio_menu_selected{
    padding-left: 17px !important;
  }
  .portfolio_menu_header p{
    padding: 0px;
  }
  .empty_positions, .empty_holdings{
    padding-top: 60px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 40px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 14px;
  }
  .stop_heading{
    font-size: 16px;
  }
  .stop_sub_heading{
    font-size: 13px;
  }
  #cancel_order_confirm, #cancel_order_close{
    font-size: 12px;
  }
  .cancel_order, .positions_row_order_details span{
    font-size: 9px !important;
    padding: 2px 4px;
  }
  .positions_row_change>p{
    margin-top: 2px;
  }
  .refresh{
    height: 15px;
  }
  .portfolio_outer{
    padding: 15px 0px 30px 0px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1367px){
  .holding_details_title p, .positions_details_title p{
    /*font-size: 10px;*/
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 12px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 13px 20px;*/
  }
  .buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
    font-size: 9px !important;
    padding: 4px 6px !important;
  }
  .positions_row_order_details p{
    margin-top: 0px;
    font-size: 9px !important;
    padding: 4px !important;
  }
  .portfolio_menu_body p{
    /*font-size: 12px;*/
    padding: 8px 0px 10px 30px;
    margin: 10px 0px;
  }
  .header-holder{
    padding: 20px 20px 15px 20px;
  }
  .positions_details_sub_title select, #portfolio_platform{
    font-size: 12px;
  }
  .order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
    /*font-size: 11px;*/
  }
  .order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
    /*font-size: 9px;
    font-weight: 500;*/
  }
  .order_details_header{
    /*padding: 0px 20px 10px 20px;*/
  }
  .order_details_popup>div{
    /*padding-bottom: 0px;*/
  }
  .order_filled_qty p{
    font-size: 12px;
  }
  .order_name p:first-child{
    font-size: 13px;
  }
  .order_name p:nth-child(2){
    font-size: 10px;
  }
  .close_popup{
    height: 20px;
  }
  .positions_details_sub_title{
    padding: 0px 20px 15px 20px;
  }
  .portfolio_menu p{
    padding: 10px 20px 10px 20px;
  }
  .portfolio_menu_selected{
    padding-left: 17px !important;
  }
  .portfolio_menu_header p{
    padding: 0px;
  }
  .empty_positions, .empty_holdings{
    padding-top: 60px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 50px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 16px;
  }
  .stop_heading{
    font-size: 16px;
  }
  .stop_sub_heading{
    font-size: 13px;
  }
  #cancel_order_confirm, #cancel_order_close{
    font-size: 12px;
  }
  .cancel_order, .positions_row_order_details span{
    font-size: 9px !important;
    padding: 2px 4px;
  }
  .positions_row_change>p{
    margin-top: 2px;
  }
  .portfolio_outer{
    padding: 15px 0px 30px 0px;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1441px){
  .holding_details_title p, .positions_details_title p{
    /*font-size: 10px;*/
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 13px;
    /*margin-top: 5px;*/
  }
  .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
    /*padding: 15px 20px;*/
  }
  .empty_positions, .empty_holdings{
    padding-top: 70px;
  }
  .empty_positions img, .empty_holdings img{
    /*width: auto;*/
    /*height: 50px;*/
  }
  .empty_positions p, .empty_holdings p{
    padding-top: 15px;
    font-size: 16px;
  }
  .exit_body{
    padding: 15px;
    padding-bottom: 50px;
  }
  .positions_row_change>p{
    margin-top: 3px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1501px){
  .holding_details_title p, .positions_details_title p{
    /*font-size: 10px;*/
  }
  .holding_details_row p, .positions_details_row p, .positions_total p{
    font-size: 13px;
    /*margin-top: 5px;*/
  }
  .positions_row_change>p{
    margin-top: 3px;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1601px){
  .positions_row_change>p{
    margin-top: 3px;
  }
}
/*Changing colors for non-retina*/
@media only screen and (max-resolution: 270dpi){
  /*.order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child, .order_filled_qty p:first-child, .empty_positions p, .empty_holdings p{
      color: #8b9096 !important;
  }
  .portfolio_menu_header p, .portfolio_menu_body p{
    color: #53565a;
  }
  .portfolio_menu, .holdings_body, .positions_body, .portfolio_menu_header, .current_value, .holdings_header, .holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row, .positions_row_order_details p{
    border-color: #dedfe0;
  }
  .header_content p:first-child{
    color: #576371;
    font-weight: 500;
  }*/
}
/*Changing colors for non-retina ends*/
/*For App Starts*/
.positions_details_row_top, .positions_details_row_bottom, .positions_details_row_hidden{
  display: flex;
}
.app_positions .holdings_body{
  display: block;
  /*height: 100vh;*/
}
.app_positions .positions_details_row{
  display: block;
}
#positions, #holdings{
  display: block !important;
}
#app_positions, #app_holdings{
  display: none !important;
}
/*For App Stops*/
/*For Mobile Responsiveness Starts*/
@media only screen and (max-width: 699px){
  html, body, .main{
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}
.menu{
  width: auto;
}
#positions, #holdings{
  display: none !important;
}
#app_positions, #app_holdings{
  display: block !important;
}
.portfolio, .portfolio_menu{
  display: block;
}
.portfolio_outer{
  min-height: 100vh;
  padding: 0px;
}
.portfolio_menu_header{
  display: flex;
}
.positions_details_sub_title{
  width: 125px;
  right: 10px;
  margin-top: 5px;
  position: absolute;
  padding: 0px;
}
.refresh {
  margin-left: 80%;
  position: absolute;
}
.portfolio_menu_body p{
  width: 50%;
}
.portfolio_menu_selected{
  padding-left: 27px !important;
  background-color: #f2faff;
  border-left: none;
  border-bottom: 3px solid #2288ff;
}
.portfolio_menu{
  left: 0%;
  width: 100%;
  position: fixed;
  /*top: 70px;*/
  z-index: 100;
  padding: 0px;
}
.portfolio_menu_body{
  display: flex;
}
.portfolio_menu p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 13px;
}
.portfolio_body{
  left: 0%;
  width: 100%;
  top: 100px;
}
.portfolio{
  padding-top: 0px;
}
.ui-widget.ui-widget-content{
  top: 92px !important;
  left: 0px !important; 
  width: 100% !important;
  padding: 0px !important;
}
.holdings_body, .positions_body{
  border-left: none;
  border-right: none;
  border-top: none;
}
.holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
  padding: 10px;
  padding-bottom: 0px;
}
.positions_details_row_bottom{
  margin: 15px 0px;
}
.positions_row_product, .positions_row_instrument{
  width: auto;
  margin-right: 10px;
}
.positions_row_avg_price p{
  text-align: right;
}
.positions_row_datetime{
  margin-right: 0px;
}
.positions_row_order_details{
  width: auto;
}
/*.positions_row_datetime{
  position: absolute;
  float: right;
  right: 0px;
}*/
.cancel_order_popup>div{
  width: 90%;
}
.cancel_order_det{
  width: 100%;
}
#cancel_order_actions{
  float: none;
  padding: 20px 0px;
}
#cancel_order_confirm{
  margin-right: auto;
  margin-left: 0px;
}
#cancel_order_close{
  margin-left: auto;
  margin-right: 0px;
}
.order_details_popup>div{
  width: 100%;
  border-radius: 0px;
}
.order_details_body{
  /*padding: 30px 10px;*/
}
.order_details_header{
  display: block;
}
.order_details_row>div{
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 35px;
}
.order_details_row{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
  font-size: 14px;
}
.order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
  font-size: 14px;
}
.order_name p:first-child{
  font-size: 18px;
}
.order_details_header>div{
  width: 100%;
}
.order_name p:nth-child(2){
  font-size: 14px;
}
.order_details_popup{
  overflow-y: scroll;
}
.order_details_popup>div{
  margin-top: 0px;
}
.order_details_popup .close_popup{
  position: fixed;
  z-index: 100;
}
.positions_details_row_hidden{
  border-top: 1px solid #e3e3e3;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 55%;
  margin: auto;
}
.positions_row_datetime p, .positions_row_instrument p, .positions_row_quantity p, .positions_row_avg_price p{
  font-size: 12px !important;
}
.buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
  font-size: 10px !important;
}
.positions_row_order_details, .positions_row_change{
  width: 100%;
}
.positions_row_order_details p{
  width: 80%;
  font-size: 10px !important;
  border-color: #e3e3e3;
  background: #fff;
  margin: auto;
  margin-top: 2px;
}
.cancel_order{
  font-size: 10px;
  float: right;
  right: 10px;
}
.positions_row_order_details p{
  text-transform: uppercase;
}
.ui-state-active, .ui-menu .ui-menu-item-wrapper {
    font-size: 15px !important;
    text-align: center !important;
    border-bottom: 1px solid #e3e3e3;
}
/*#notifications{
  position: relative;
  right: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}*/
}
@media only screen and (max-width: 1024px) and (min-width: 700px){
  html, body, .main{
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}
#positions, #holdings{
  display: none !important;
}
#app_positions, #app_holdings{
  display: block !important;
}
.portfolio, .portfolio_menu{
  display: block;
}
.portfolio_outer{
  min-height: 100vh;
  padding: 0px;
}
.portfolio_menu_header{
  display: flex;
}
.positions_details_sub_title{
  width: 125px;
  right: 10px;
  margin-top: 5px;
  position: absolute;
  padding: 0px;
}
.refresh {
  margin-left: 80%;
  position: absolute;
}
.portfolio_menu_body p{
  width: 50%;
}
.portfolio_menu_selected{
  padding-left: 27px !important;
  background-color: #f2faff;
  border-left: none;
  border-bottom: 3px solid #2288ff;
}
.portfolio_menu{
  left: 0%;
  width: 100%;
  position: fixed;
  /*top: 70px;*/
  z-index: 100;
  padding: 0px;
}
.portfolio_menu_body{
  display: flex;
}
.portfolio_menu p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 13px;
}
.portfolio_body{
  left: 0%;
  width: 100%;
  top: 100px;
}
.portfolio{
  padding-top: 0px;
}
.ui-widget.ui-widget-content{
  top: 92px !important;
  left: 0px !important; 
  width: 100% !important;
  padding: 0px !important;
}
.holdings_body, .positions_body{
  border-left: none;
  border-right: none;
  border-top: none;
}
.holding_details_title, .holding_details_row, .positions_details_title, .positions_details_row{
  padding: 10px;
  padding-bottom: 0px;
}
.positions_details_row_bottom{
  margin: 15px 0px;
}
.positions_row_product, .positions_row_instrument{
  width: auto;
  margin-right: 10px;
}
.positions_row_avg_price p{
  text-align: right;
}
.positions_row_datetime{
  margin-right: 0px;
}
.positions_row_order_details{
  width: auto;
}
/*.positions_row_datetime{
  position: absolute;
  float: right;
  right: 0px;
}*/
.cancel_order_popup>div{
  width: 90%;
}
.cancel_order_det{
  width: 100%;
}
#cancel_order_actions{
  float: none;
  padding: 20px 0px;
}
#cancel_order_confirm{
  margin-right: auto;
  margin-left: 0px;
}
#cancel_order_close{
  margin-left: auto;
  margin-right: 0px;
}
.order_details_popup>div{
  width: 100%;
  border-radius: 0px;
}
.order_details_body{
  /*padding: 30px 10px;*/
}
.order_details_header{
  display: block;
}
.order_details_row>div{
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 35px;
}
.order_details_row{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.order_details_row p:first-child, .order_avg_price p:first-child, .order_net_qty p:first-child, .order_pnl p:first-child, .order_filled_qty p:first-child{
  font-size: 14px;
}
.order_details_row p:nth-child(2), .order_avg_price p:nth-child(2), .order_net_qty p:nth-child(2), .order_pnl p:nth-child(2), .order_filled_qty p:nth-child(2){
  font-size: 14px;
}
.order_name p:first-child{
  font-size: 18px;
}
.order_details_header>div{
  width: 100%;
}
.order_name p:nth-child(2){
  font-size: 14px;
}
.order_details_popup{
  overflow-y: scroll;
}
.order_details_popup>div{
  margin-top: 0px;
}
.order_details_popup .close_popup{
  position: fixed;
  z-index: 100;
}
.positions_details_row_hidden{
  border-top: 1px solid #e3e3e3;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 55%;
  margin: auto;
}
.positions_row_datetime p, .positions_row_instrument p, .positions_row_quantity p, .positions_row_avg_price p{
  font-size: 12px !important;
}
.buy_tag, .sell_tag, .complete_tag, .rejected_tag, .pending_tag, .cancel_tag, .open_tag, .mis_tag, .nrml_tag, .cnc_tag, .REJECTED_tag{
  font-size: 10px !important;
}
.positions_row_order_details, .positions_row_change{
  width: 100%;
}
.positions_row_order_details p{
  width: 80%;
  font-size: 10px !important;
  border-color: #e3e3e3;
  background: #fff;
  margin: auto;
  margin-top: 2px;
}
.cancel_order{
  font-size: 10px;
  float: right;
  right: 10px;
}
.positions_row_order_details p{
  text-transform: uppercase;
}
.ui-state-active, .ui-menu .ui-menu-item-wrapper {
    font-size: 15px !important;
    text-align: center !important;
    border-bottom: 1px solid #e3e3e3;
}
}










/*For Mobile Responsiveness Stops*/