html{
  background-color: #f9f9f9;
}
.menu{
	/*display: none;*/
}
.home_menu, .streak_title, .streak_description, .footer_home, .home_header{
  display: none;
}
.footer{
	position: relative;
}
.body{
  margin-top: 0px !important;
}
.main{
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
.sec_main{
  height: auto;
  background-color: #FFF;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  /*min-width: 1010px;*/
  border-top: none;
  display: flex;
}
.signup_left{
  /*background-color: #f7f7f7;*/
  width: 50%;
  box-sizing: border-box;
  margin: 0px;
  /*padding: 20px;*/
}
.signup_right{
  background-color: #f9f9f9;
  width: 100%;
}
.signup_sec{
  width: auto;
  margin: auto;
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
}
.signup_logo{
  display: block;
  margin-bottom: 30px;
}
.signup_logo img{
  height: 25px;
  /*height: 40px;*/
  margin: auto;
  margin-left: 30px;
  display: block;
}
.signup_title{
  /*padding: 10px 10px 10px 15px;*/
  margin: 0px 0px 5px 0px;
  font-size: 24px;
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: center;
  color: #383838;
}
.signup_sub_title{
  /*padding: 10px 10px 10px 15px;*/
  margin: 0px 0px 50px 0px;
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: center;
  color: #6e6e6e;
}
.signup_sec p span{
  font-weight: 600;
}
.signup_sec input{
  text-align: left;
  color: #101011;
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0px;
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
  margin: auto;
  border: 1px solid #e2e2e2;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 50px;
 border-radius: 2px;;
  outline: none;
  box-sizing: border-box;
}
.signup_statements{
  padding: 15px 0px;
  margin: 0px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #383838;
  width: 100%;
}
.signup_statements a{
  color: #0088ff;
}
.already{
  width: 400px;
  margin-top: 70px;
  border-top: 1px solid #f3f3f3;
  padding-top: 30px;
  margin-bottom: 15px;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    /*-webkit-box-shadow: none !important;*/
    /*-webkit-box-shadow: 0 0 0 30px white inset;*/
    /*background-color: transparent !important;*/
}
.signup_sec input::-webkit-input-placeholder { /* Chrome */
   /*-webkit-box-shadow: 0 0 0 30px white inset;*/
    /*background-color: transparent !important;*/
    color: #383838 !important;
}
.signup_sec input:-ms-input-placeholder { /* IE 10+ */
  /*-webkit-box-shadow: 0 0 0 30px white inset;*/
    /*background-color: transparent !important;*/
    color: #383838 !important;
}
.signup_sec input::-moz-placeholder { /* Firefox 19+ */
   /*-webkit-box-shadow: 0 0 0 30px white inset;*/
    /*background-color: transparent !important;*/
    color: #383838 !important;
}
.signup_sec input:-moz-placeholder { /* Firefox 4 - 18 */
   /*-webkit-box-shadow: 0 0 0 30px white inset;*/
    /*background-color: transparent !important;*/
    color: #383838 !important;
}
.signup_sec input:hover{
  background-color: #FFFFFF !important;
  border-color: #e3e3e3 !important;
}
.signup_sec input:focus{
  border: 1px solid #0088ff !important;
  background-color: #FFFFFF !important;
}
.signup_sec button{
  width: auto;
  min-width: 150px;
  max-width: 400px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  border: none;
  margin: auto;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: #f2f2f2;
  padding: 10px 0px !important;
  background-color: #0088ff !important;
  color: #FFFFFF;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.signup_sec button:hover, .signup_sec button:focus{
  box-shadow: 0px 6px 9.2px 0.8px rgba(195, 195, 195, 0.24);
}
.design_sec{
    background-image: url(../imgs/new/home/crypto/login_streak.png);
    margin-right: 15px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.signup_sec input, .signup_sec input:focus{
  background-repeat: no-repeat;
  background-position:left center;
  background-origin:padding-box;
  background-size: 33px 16px;
}
.full_name{
  background-image: url('../imgs/icon-signup-name.png');
}
.phone_number{
  background-image: url('../imgs/icon-signup-phone.png');
}
.email{
  background-image: url('../imgs/icon-signup-email.png');
}
.password{
  background-image: url('../imgs/icon-signup-password.png');
}
.full_name:focus{
  background-image: url('../imgs/icon-signup-name-blue.png');
}
.phone_number:focus{
  background-image: url('../imgs/icon-signup-phone-blue.png');
}
.email:focus{
  background-image: url('../imgs/icon-signup-email-blue.png');
}
.password:focus{
  background-image: url('../imgs/icon-signup-password-blue.png');
}
form{
	width: 100%;
  max-width: 400px;
  margin: auto;
  margin-left: 50px;
  display: block;
}
#login_link{
	font-size: 13px;
    margin: 0px;
    color: #999999;
    padding: 0px 0px 0px 15px;
    margin-top: 20px;
    text-align: center;
}
#login_link a{
	color: #2d3193;
}

#terms_checkbox{
	width: auto;
	font: 16px "open_sansregular","AvenirNextLTPro",Arial,Helvetica,sans-serif;
	margin-top: 20px;
}
@media only screen and (max-width: 479px){
 	.signup_sec input:nth-child(1), .signup_sec input:nth-child(2){
 		width: 100%;
 	}
 	.signup_sec{
 		padding: 0px;
 		padding-right: 15px;
 		border:none;
 		width: 90%;
 	}
 	.signup_sec p{
 		font-size: 18px;
 		color: #333333;
 	}
 	.signup_sec input{
 		font-size: 14px;
 	}
 	form{
 		font-size: 11px;
 	}
 	.signup_sec button{
 		margin-bottom: 30px;
 	}
 	.sec_main{
 		margin-bottom: 50px;
 	}
}
@media screen and (max-width: 799px) and (min-width: 480px){
  	.signup_sec input:nth-child(1), .signup_sec input:nth-child(2){
  		width: 100%;
  	}
  	.signup_sec{
 		padding: 0px;
 		padding-right: 15px;
 		border:none;
 		width: 90%;
 	}
 	.signup_sec p{
 		font-size: 18px;
 		color: #333333;
 	}
 	.signup_sec input{
 		font-size: 14px;
 	}
 	form{
 		font-size: 11px;
 	}
 	.signup_sec button{
 		margin-bottom: 30px;
 	}
 	.sec_main{
 		margin-bottom: 50px;
 	}
}
@media screen and (max-width: 879px) and (min-width: 800px){

}
@media screen and (max-width: 960px) and (min-width: 880px){

}

@media screen and (max-width: 1010px) and (min-width: 961px){

}