{% extends 'base.html' %}

{% block page_title %} | Forgot Password {% endblock %}
{% block page_css1 %} <link href="/static/css/forgot_password.css?v=1.7.1" rel="stylesheet"> {% endblock %}
{% block page_js1 %} <script src="/static/js/forgot_password.js?v=1.7.1"></script> {% endblock %}

{% block body %}

<!-- <div class="block sec_main">
	<div class="signup_sec">
		<p>Create a {---} Account</p>
		
		<p id="login_link">Already have an account?&nbsp;&nbsp;&nbsp;<a href="/login" onclick="ga('send', 'event', 'Login', 'Link', 'SignUp page');">Login</a></p>
	</div>
</div> -->
<div class="block sec_main">
	<div class="signup_left">
		<div class="design_sec">
			
		</div>
	</div>
	<div class="signup_right">
		<div class="signup_sec">
			<!-- <div class="signup_logo"><img src="/static/imgs/logo.png"></div> -->
			<p class="signup_title"> Enter your registered email to reset password</p>
			<form action="/forgot_password/" method="post">
			<input class="email" type="email" name="email" placeholder="Email" value="{{email}}" required>
			<button type="submit" onclick="ga('send', 'event', 'Signup', 'Submit Click');">Reset&nbsp;&nbsp;Password</button>
			<p class="signup_statements already">Remember your password? <a href="/login">Log in</a></p>
			{% csrf_token %}
		</form>
		</div>
	</div>
</div>
{% endblock %}

{% block errorblock %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if error_msg and error_msg.strip %}
			$('#error_message').text('{{error_msg}}');
			$("#error_box").show();
			$(".body").css({"margin-top": "5px"});
		{% endif %}
		{% for e in error %}
			$('#error_message').append('{{e}}<br>');
			$("#error_box").show();
			$(".body").css({"margin-top": "5px"});
		{% endfor %}
	});

</script>
{% endblock %}