<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Streak Milestones July 2018</title>

    <meta name="keywords" content="Streak, Streak Tech, Zerodha Streak, Streak Zerodha, streak.tech, Streak Milestones">
    <meta name="description" content="Streak Milestones.">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@StreakTech">
    <meta name="twitter:title" content="Streak">
    <meta name="twitter:description" content="Algo trade, without coding">
    <!-- <meta name="twitter:creator" content="@author_handle"> -->
    <meta name="twitter:image" content="https://www.streak.tech/static/imgs/social-logo.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Streak" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.streak.tech/static/imgs/social-logo.png" />
    <meta property="og:description" content="Algo trade, without coding" /> 
    <meta property="og:url" content="https://www.streak.tech/"/>
    <meta name="author" content="Streak AI Technologies Private Limited">
    
    <link rel="icon" href="/static/imgs/logo3.ico" type="image" sizes="16x16">
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link href="/static/css/Roboto-fonts.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/hopscotch.min.css" rel="stylesheet">
    <script src="/static/js/jquery-ui.min.js"></script>
    <link href="/static/css/milestones052018.css?v=1.1.1" rel="stylesheet">
    <script src="/static/js/milestones052018.js?v=1.1.1"></script>
</head>
<body>

<div class="milestones_container">
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/may2018/slide1.svg">
	</div>
	<div class="milestone_text">
		<h1>Introducing Streak<span>Patent Pending</span></h1>
		<p>
		Since our <b>Beta launch</b> on January 15th 2018, it has been a great journey filled with extensive user engagement, intensive testing, continuous feedback, and product development.<br><br>
		We want to thank all our users who have stayed with us and have helped make our product better every single day.<br><br>
		We thank you for all the support and patience during this period and with your continued support we are now proud to launch the all new <b>Streak 1.1</b>
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide2.png">
	</div>
	<div class="milestone_text">
		<p>
		We run the fastest backtests in the world. Even with a limit of 200 backtests per day for each user, we have crossed 4 million backtests.
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide3.png">
	</div>
	<div class="milestone_text">
		<p>
		From a simple at price strategy to complicated technical indicators, our users have deployed it all! 
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide4.png">
	</div>
	<div class="milestone_text">
		<p>
		Get notified on everything! From entry signals to exit signals, we have you covered.
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide5.png">
	</div>
	<div class="milestone_text">
		<p>
		Be it MIS or CNC, orders have flown to the exchange every single day.
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide6.png">
	</div>
	<div class="milestone_text">
		<p>
		A big "Thank You" to all the users who have become a part of the Streak family and have helped make our product better. We couldn't have done it without you!
		</p>
	</div>
	<div class="milestone_image">
		<img src="/static/imgs/new/milestones/july2018/slide7.png">
	</div>
	<div class="milestone_text">
		<p>
		Our Youtube channel has received a phenomenal response with 4500+ subscribers, 200,000 views, and a lot of user generated content.
		</p>
	</div>
	<div class="milestone_image">
		<a href="https://www.streak.tech/" target="_blank"><img src="/static/imgs/new/milestones/july2018/slide8.png"></a>
	</div>
	<div class="milestone_text">
		<p>
		A brand new Streak website, with all the desirable features and a whole new look.
		</p>
	</div>
	<div class="milestone_image">
		<a href="https://play.google.com/store/apps/details?id=com.streak" target="_blank"><img src="/static/imgs/new/milestones/july2018/slide9.png"></a>
	</div>
	<div class="milestone_text">
		<p>
		The much awaited Andriod app for Streak. Now you can truly "Algo on the go"!
		</p>
		<h2>Thank you for your support</h2>
	</div>
</div>
</body>
</html>