{% extends 'base.html' %}

{% block page_title %} | App login {% endblock %}
{% block page_css1 %} <link href="/static/css/mobile_landing.css?v=1.3" rel="stylesheet"> {% endblock %}
<!-- {% block page_js1 %} <script src="/static/js/home.js"></script> {% endblock %} -->

{% block body %}
<script type="text/javascript">
	$(".loader_parent").fadeOut();
	$(document).ready(function(){
		$(".loader_parent").fadeOut();
	});
</script>
<div class="home_body">
	<div class="hero_section">
		<!-- <h1>Backtesting, Risk Management and Trading System</h1> -->
		<h1>Now, Everyone Can Algo</h1>
		<h2>Login to receive actionable alerts.</h2>
		<button class="log_in_kite" onclick="window.location='/broker_login/?&m=true';"><span><img src="/static/imgs/home-kite-logo.png"></span><span>Log in with Kite</span></button>
	</div>
</div>
{% csrf_token %}
{% endblock %}